openapi: 3.2.0
info:
  title: Reference Subpackage Accounts API
  version: 1.0.0
servers:
- url: https://api.x.flatfile.com/v1
tags:
- name: subpackage_accounts
paths:
  /accounts/current:
    get:
      operationId: get-current
      summary: Get the current account
      tags:
      - subpackage_accounts
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      - name: X-Disable-Hooks
        in: header
        required: true
        schema:
          type: string
          enum:
          - 'true'
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_accounts_AccountResponse'
    patch:
      operationId: update-current
      summary: Update the current account
      tags:
      - subpackage_accounts
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      - name: X-Disable-Hooks
        in: header
        required: true
        schema:
          type: string
          enum:
          - 'true'
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_accounts_AccountResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_accounts_AccountPatch'
components:
  schemas:
    type_commons_AppId:
      type: string
      description: App ID
      title: AppId
    type_accounts_AccountPatch:
      type: object
      properties:
        name:
          type: string
        defaultAppId:
          $ref: '#/components/schemas/type_commons_AppId'
      description: Properties used to update an account
      title: AccountPatch
    type_commons_AccountId:
      type: string
      description: Account ID
      title: AccountId
    type_accounts_Account:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/type_commons_AccountId'
        name:
          type: string
        primaryDomain:
          type: string
        subdomain:
          type: string
        vanityDomainDashboard:
          type: string
        vanityDomainSpaces:
          type: string
        embeddedDomainWhitelist:
          type: array
          items:
            type: string
        customFromEmail:
          type: string
        stripeCustomerId:
          type: string
        metadata:
          type: object
          additionalProperties:
            description: Any type
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        defaultAppId:
          $ref: '#/components/schemas/type_commons_AppId'
        dashboard:
          type: integer
      required:
      - id
      - name
      - metadata
      - createdAt
      - updatedAt
      description: An account
      title: Account
    type_accounts_AccountResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/type_accounts_Account'
      required:
      - data
      title: AccountResponse
  securitySchemes:
    default:
      type: http
      scheme: bearer
