openapi: 3.2.0
info:
  title: Reference Subpackage Commits API
  version: 1.0.0
servers:
- url: https://api.x.flatfile.com/v1
tags:
- name: subpackage_commits
paths:
  /commits/{commitId}:
    get:
      operationId: get
      summary: Get a commit version
      description: Returns the details of a commit version
      tags:
      - subpackage_commits
      parameters:
      - name: commitId
        in: path
        description: ID of the commit version to return
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_CommitId'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      - name: X-Disable-Hooks
        in: header
        required: true
        schema:
          type: string
          enum:
          - 'true'
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commits_CommitResponse'
        '400':
          description: Error response with status 400
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_Errors'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_Errors'
  /commits/{commitId}/complete:
    post:
      operationId: complete
      summary: Complete a commit version
      description: Completes a commit version. This marks the commit as complete and acknowledges that the changes have been applied to the sheet.
      tags:
      - subpackage_commits
      parameters:
      - name: commitId
        in: path
        description: ID of the commit version to complete
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_CommitId'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      - name: X-Disable-Hooks
        in: header
        required: true
        schema:
          type: string
          enum:
          - 'true'
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_Success'
        '400':
          description: Error response with status 400
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_Errors'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_Errors'
  /commits/{commitId}/replay:
    post:
      operationId: replay
      summary: Replay a commit version
      description: Replays a commit:created event.
      tags:
      - subpackage_commits
      parameters:
      - name: commitId
        in: path
        description: ID of the commit version to re-emit a commit:created event for
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_CommitId'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      - name: X-Disable-Hooks
        in: header
        required: true
        schema:
          type: string
          enum:
          - 'true'
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_Success'
        '400':
          description: Error response with status 400
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_Errors'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_Errors'
components:
  schemas:
    type_commons_SuccessData:
      type: object
      properties:
        success:
          type: boolean
      required:
      - success
      title: SuccessData
    type_commits_CommitResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/type_commits_Commit'
      required:
      - data
      title: CommitResponse
    type_commons_CommitId:
      type: string
      description: Commit ID
      title: CommitId
    type_commons_Errors:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/type_commons_Error'
      required:
      - errors
      title: Errors
    type_commons_Error:
      type: object
      properties:
        key:
          type: string
        message:
          type: string
      required:
      - message
      title: Error
    type_commons_Success:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/type_commons_SuccessData'
      description: Informs whether or not a request was successful
      title: Success
    type_commons_SheetId:
      type: string
      description: Sheet ID
      title: SheetId
    type_commits_Commit:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/type_commons_CommitId'
        sheetId:
          $ref: '#/components/schemas/type_commons_SheetId'
        createdBy:
          type: string
          description: The actor (user or system) who created the commit
        completedBy:
          type: string
          description: The actor (user or system) who completed the commit
        createdAt:
          type: string
          format: date-time
          description: The time the commit was created
        completedAt:
          type: string
          format: date-time
          description: The time the commit was acknowledged
      required:
      - id
      - sheetId
      - createdBy
      - createdAt
      description: A commit version
      title: Commit
  securitySchemes:
    default:
      type: http
      scheme: bearer
