openapi: 3.1.0
info:
  title: API Reference subpackage_accounts subpackage_roles API
  version: 1.0.0
servers:
- url: https://api.x.flatfile.com/v1
tags:
- name: subpackage_roles
paths:
  /roles:
    get:
      operationId: list
      summary: List roles
      description: List all roles for an account
      tags:
      - subpackage_roles
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      - name: X-Disable-Hooks
        in: header
        required: true
        schema:
          type: string
          enum:
          - 'true'
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_roles:ListRolesResponse'
components:
  schemas:
    type_roles:RoleResponse:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/type_commons:RoleId'
        name:
          type: string
        accountId:
          $ref: '#/components/schemas/type_commons:AccountId'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
      - id
      - name
      - accountId
      - createdAt
      - updatedAt
      title: RoleResponse
    type_roles:ListRolesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/type_roles:RoleResponse'
      required:
      - data
      title: ListRolesResponse
    type_commons:RoleId:
      type: string
      description: Role ID
      title: RoleId
    type_commons:AccountId:
      type: string
      description: Account ID
      title: AccountId
  securitySchemes:
    default:
      type: http
      scheme: bearer
