openapi: 3.2.0
info:
  title: Reference Subpackage Jobs API
  version: 1.0.0
servers:
- url: https://api.x.flatfile.com/v1
tags:
- name: subpackage_jobs
paths:
  /jobs:
    get:
      operationId: list
      summary: List jobs
      tags:
      - subpackage_jobs
      parameters:
      - name: environmentId
        in: query
        description: When provided, only jobs for the given environment will be returned
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_EnvironmentId'
      - name: spaceId
        in: query
        description: When provided, only jobs for the given space will be returned
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_SpaceId'
      - name: workbookId
        in: query
        description: When provided, only jobs for the given workbook will be returned
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_WorkbookId'
      - name: fileId
        in: query
        description: When provided, only jobs for the given file will be returned
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_FileId'
      - name: parentId
        in: query
        description: When provided, only jobs that are parts of the given job will be returned
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_JobId'
      - name: pageSize
        in: query
        description: Number of jobs to return in a page (default 20)
        required: false
        schema:
          type: integer
      - name: pageNumber
        in: query
        description: Based on pageSize, which page of jobs to return
        required: false
        schema:
          type: integer
      - name: sortDirection
        in: query
        description: Sort direction - asc (ascending) or desc (descending)
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_SortDirection'
      - name: excludeChildJobs
        in: query
        description: When true, only top-level jobs will be returned unless a parentId is specified
        required: false
        schema:
          type: boolean
      - name: source
        in: query
        description: When provided, only jobs with the given source will be returned
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      - name: X-Disable-Hooks
        in: header
        required: true
        schema:
          type: string
          enum:
          - 'true'
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_jobs_ListJobsResponse'
    post:
      operationId: create
      summary: Create a job
      tags:
      - subpackage_jobs
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      - name: X-Disable-Hooks
        in: header
        required: true
        schema:
          type: string
          enum:
          - 'true'
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_jobs_JobResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_jobs_JobConfig'
  /jobs/{jobId}:
    get:
      operationId: get
      summary: Get a job
      tags:
      - subpackage_jobs
      parameters:
      - name: jobId
        in: path
        description: The id of the job to return
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_JobId'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      - name: X-Disable-Hooks
        in: header
        required: true
        schema:
          type: string
          enum:
          - 'true'
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_jobs_JobResponse'
    patch:
      operationId: update
      summary: Update a job
      tags:
      - subpackage_jobs
      parameters:
      - name: jobId
        in: path
        description: The id of the job to patch
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_JobId'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      - name: X-Disable-Hooks
        in: header
        required: true
        schema:
          type: string
          enum:
          - 'true'
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_jobs_JobResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_jobs_JobUpdate'
    delete:
      operationId: delete
      summary: Delete a job
      tags:
      - subpackage_jobs
      parameters:
      - name: jobId
        in: path
        description: The id of the job to delete
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_JobId'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      - name: X-Disable-Hooks
        in: header
        required: true
        schema:
          type: string
          enum:
          - 'true'
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_Success'
  /jobs/{jobId}/execute:
    post:
      operationId: execute
      summary: Execute a job
      description: Execute a job and return the job
      tags:
      - subpackage_jobs
      parameters:
      - name: jobId
        in: path
        description: ID of job to return
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      - name: X-Disable-Hooks
        in: header
        required: true
        schema:
          type: string
          enum:
          - 'true'
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_Success'
  /jobs/{jobId}/plan:
    get:
      operationId: get-execution-plan
      summary: Get a job's execution plan
      description: Returns a single job's execution plan
      tags:
      - subpackage_jobs
      parameters:
      - name: jobId
        in: path
        description: ID of job to return
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_JobId'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      - name: X-Disable-Hooks
        in: header
        required: true
        schema:
          type: string
          enum:
          - 'true'
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_jobs_JobPlanResponse'
    put:
      operationId: update-execution-plan
      summary: Replace a job's plan
      description: Update a job's entire execution plan
      tags:
      - subpackage_jobs
      parameters:
      - name: jobId
        in: path
        description: ID of job to return
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_JobId'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      - name: X-Disable-Hooks
        in: header
        required: true
        schema:
          type: string
          enum:
          - 'true'
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_jobs_JobPlanResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_jobs_JobExecutionPlanRequest'
    patch:
      operationId: update-execution-plan-fields
      summary: Update a job's plan
      description: Update one or more individual fields on a job's execution plan
      tags:
      - subpackage_jobs
      parameters:
      - name: jobId
        in: path
        description: ID of job to return
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      - name: X-Disable-Hooks
        in: header
        required: true
        schema:
          type: string
          enum:
          - 'true'
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_jobs_JobPlanResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_jobs_JobExecutionPlanConfigRequest'
  /jobs/{jobId}/ack:
    post:
      operationId: ack
      summary: Acknowledge a job
      description: Acknowledge a job and return the job
      tags:
      - subpackage_jobs
      parameters:
      - name: jobId
        in: path
        description: ID of job to return
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_JobId'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      - name: X-Disable-Hooks
        in: header
        required: true
        schema:
          type: string
          enum:
          - 'true'
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_jobs_JobResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_jobs_JobAckDetails'
  /jobs/{jobId}/outcome/ack:
    post:
      operationId: ack-outcome
      summary: Acknowledge a job outcome
      description: Acknowledge a job outcome and return the job
      tags:
      - subpackage_jobs
      parameters:
      - name: jobId
        in: path
        description: ID of job to return
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_JobId'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      - name: X-Disable-Hooks
        in: header
        required: true
        schema:
          type: string
          enum:
          - 'true'
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_jobs_JobResponse'
  /jobs/{jobId}/complete:
    post:
      operationId: complete
      summary: Complete a job
      description: Complete a job and return the job
      tags:
      - subpackage_jobs
      parameters:
      - name: jobId
        in: path
        description: ID of job to return
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_JobId'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      - name: X-Disable-Hooks
        in: header
        required: true
        schema:
          type: string
          enum:
          - 'true'
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_jobs_JobResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_jobs_JobCompleteDetails'
  /jobs/{jobId}/fail:
    post:
      operationId: fail
      summary: Fail a job
      description: Fail a job and return the job
      tags:
      - subpackage_jobs
      parameters:
      - name: jobId
        in: path
        description: ID of job to return
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_JobId'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      - name: X-Disable-Hooks
        in: header
        required: true
        schema:
          type: string
          enum:
          - 'true'
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_jobs_JobResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_jobs_JobCompleteDetails'
  /jobs/{jobId}/cancel:
    post:
      operationId: cancel
      summary: Cancel a job
      description: Cancel a job and return the job
      tags:
      - subpackage_jobs
      parameters:
      - name: jobId
        in: path
        description: ID of job to return
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_JobId'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      - name: X-Disable-Hooks
        in: header
        required: true
        schema:
          type: string
          enum:
          - 'true'
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_jobs_JobResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_jobs_JobCancelDetails'
  /jobs/{jobId}/retry:
    post:
      operationId: retry
      summary: Retry a failed job
      description: Retry a failt job and return the job
      tags:
      - subpackage_jobs
      parameters:
      - name: jobId
        in: path
        description: ID of job to return
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_JobId'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      - name: X-Disable-Hooks
        in: header
        required: true
        schema:
          type: string
          enum:
          - 'true'
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_jobs_JobResponse'
  /jobs/preview-mutation:
    post:
      operationId: preview-mutation
      summary: Preview a mutation
      description: Preview the results of a mutation
      tags:
      - subpackage_jobs
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      - name: X-Disable-Hooks
        in: header
        required: true
        schema:
          type: string
          enum:
          - 'true'
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_records_DiffRecordsResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_jobs_MutateJobConfig'
  /jobs/{jobId}/split:
    post:
      operationId: split
      summary: Split a job
      description: Split a job and return the job
      tags:
      - subpackage_jobs
      parameters:
      - name: jobId
        in: path
        description: ID of job to return
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_JobId'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      - name: X-Disable-Hooks
        in: header
        required: true
        schema:
          type: string
          enum:
          - 'true'
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_jobs_JobResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_jobs_JobSplitDetails'
components:
  schemas:
    type_jobs_JobSource:
      type: string
      description: The id of a file, workbook, sheet, or app
      title: JobSource
    type_commons_ActionMessageType:
      type: string
      enum:
      - error
      - info
      title: ActionMessageType
    type_jobs_AgentPromotionJobConfig:
      type: object
      properties:
        targetEnvironmentId:
          $ref: '#/components/schemas/type_commons_EnvironmentId'
          description: The environment ID where the agent should be promoted
        spaceId:
          $ref: '#/components/schemas/type_commons_SpaceId'
          description: The space ID where the agent is being promoted from
      required:
      - targetEnvironmentId
      - spaceId
      description: The configuration for an agent promotion job
      title: AgentPromotionJobConfig
    type_data-clips_ResolveType:
      type: string
      enum:
      - conflict
      - resolve
      title: ResolveType
    type_property_ReferencePropertyRelationship:
      type: string
      enum:
      - has-one
      - has-many
      title: ReferencePropertyRelationship
    type_commons_SortField:
      type: string
      description: Name of field by which to sort records
      title: SortField
    type_commons_Filter:
      type: string
      enum:
      - valid
      - error
      - all
      - none
      description: Options to filter records
      title: Filter
    type_commons_InputConstraintType:
      type: string
      enum:
      - required
      title: InputConstraintType
    type_commons_WorkbookId:
      type: string
      description: Workbook ID
      title: WorkbookId
    type_property_FieldSize:
      type: string
      enum:
      - xs
      - s
      - m
      - l
      - xl
      description: The default visual sizing. This sizing may be overridden by a user
      title: FieldSize
    type_records_DiffRecordsResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/type_records_DiffRecords'
      required:
      - data
      title: DiffRecordsResponse
    type_jobs_JobStatus:
      type: string
      enum:
      - created
      - planning
      - scheduled
      - ready
      - executing
      - complete
      - failed
      - canceled
      - waiting
      description: the status of the job
      title: JobStatus
    type_jobs_EnumValue:
      oneOf:
      - type: string
      - type: integer
      - type: boolean
      title: EnumValue
    type_records_DiffData:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/type_records_DiffValue'
      title: DiffData
    type_commons_SearchValue:
      type: string
      description: Search for the given value, returning matching rows. For exact matches, wrap the value in double quotes ("Bob"). To search for null values, send empty double quotes ("")
      title: SearchValue
    type_commons_AppId:
      type: string
      description: App ID
      title: AppId
    type_jobs_MappingFromPreprocessingJobConfig:
      type: object
      properties:
        proposal:
          description: Any type
        mappingJobId:
          $ref: '#/components/schemas/type_commons_JobId'
      required:
      - proposal
      - mappingJobId
      title: MappingFromPreprocessingJobConfig
    type_records_DiffRecords:
      type: array
      items:
        $ref: '#/components/schemas/type_records_DiffRecord'
      description: List of DiffRecord objects
      title: DiffRecords
    type_records_ValidationMessage:
      type: object
      properties:
        field:
          type: string
        type:
          $ref: '#/components/schemas/type_records_ValidationType'
        source:
          $ref: '#/components/schemas/type_records_ValidationSource'
        message:
          type: string
        path:
          $ref: '#/components/schemas/type_commons_JSONPathString'
          description: This JSONPath is based on the root of mapped cell object.
      description: Record data validation messages
      title: ValidationMessage
    type_jobs_JobOutcome:
      type: object
      properties:
        acknowledge:
          type: boolean
        trigger:
          $ref: '#/components/schemas/type_jobs_JobOutcomeTrigger'
        buttonText:
          type: string
        next:
          $ref: '#/components/schemas/type_jobs_JobOutcomeNext'
        heading:
          type: string
        message:
          type: string
        hideDefaultButton:
          type: boolean
      description: Outcome summary of a job
      title: JobOutcome
    type_commons_Guardrail:
      type: object
      properties:
        content:
          type: string
          description: Markdown guardrail for this action
      required:
      - content
      title: Guardrail
    type_jobs_JobPlan:
      type: object
      properties:
        job:
          $ref: '#/components/schemas/type_jobs_Job'
        plan:
          $ref: '#/components/schemas/type_jobs_JobExecutionPlan'
      required:
      - job
      - plan
      description: The job/plan tuple that contains the full plan and the jobs status
      title: JobPlan
    type_commons_SheetId:
      type: string
      description: Sheet ID
      title: SheetId
    type_commons_RecordId:
      type: string
      description: Record ID
      title: RecordId
    type_commons_ActionMessage:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/type_commons_ActionMessageType'
        content:
          type: string
      required:
      - type
      - content
      title: ActionMessage
    type_jobs_Job:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/type_jobs_JobType'
          description: The type of job
        operation:
          type: string
          description: the type of operation to perform on the data. For example, "export".
        source:
          $ref: '#/components/schemas/type_jobs_JobSource'
        destination:
          $ref: '#/components/schemas/type_jobs_JobDestination'
        config:
          $ref: '#/components/schemas/type_jobs_JobUpdateConfig'
        trigger:
          $ref: '#/components/schemas/type_jobs_Trigger'
          description: the type of trigger to use for this job
        status:
          $ref: '#/components/schemas/type_jobs_JobStatus'
          description: the status of the job
        progress:
          type: integer
          description: the progress of the job. Whole number between 0 and 100
        fileId:
          $ref: '#/components/schemas/type_commons_FileId'
        mode:
          $ref: '#/components/schemas/type_jobs_JobMode'
          description: the mode of the job
        input:
          type: object
          additionalProperties:
            description: Any type
          description: Input parameters for this job type.
        subject:
          $ref: '#/components/schemas/type_jobs_JobSubject'
          description: Subject parameters for this job type.
        outcome:
          type: object
          additionalProperties:
            description: Any type
          description: Outcome summary of job.
        result:
          type: object
          additionalProperties:
            description: Any type
          description: Information computed during job execution can be stored here
        info:
          type: string
          description: Current status of job in text
        managed:
          type: boolean
          description: Indicates if Flatfile is managing the control flow of this job or if it is being manually tracked.
        environmentId:
          $ref: '#/components/schemas/type_commons_EnvironmentId'
          description: The id of the environment this job belongs to
        part:
          type: integer
          description: The part number of this job
        partData:
          type: object
          additionalProperties:
            description: Any type
          description: The data for this part of the job
        partExecution:
          $ref: '#/components/schemas/type_jobs_JobPartExecution'
          description: The execution mode for this part of the job
        parentId:
          $ref: '#/components/schemas/type_commons_JobId'
          description: The id of the parent job
        predecessorIds:
          type: array
          items:
            $ref: '#/components/schemas/type_commons_JobId'
          description: The ids of the jobs that must complete before this job can start
        metadata:
          type: object
          additionalProperties:
            description: Any type
          description: Additional metadata for the job
        id:
          $ref: '#/components/schemas/type_commons_JobId'
        createdBy:
          $ref: '#/components/schemas/type_commons_ActorId'
          description: The user, guest, or agent who created the job
        createdAt:
          type: string
          format: date-time
          description: Date the item was created
        updatedAt:
          type: string
          format: date-time
          description: Date the item was last updated
        startedAt:
          type: string
          format: date-time
          description: the time that the job started at
        finishedAt:
          type: string
          format: date-time
          description: the time that the job finished at
        outcomeAcknowledgedAt:
          type: string
          format: date-time
          description: the time that the job's outcome has been acknowledged by a user
        spaceId:
          $ref: '#/components/schemas/type_commons_SpaceId'
          description: The id of the space this job belongs to
      required:
      - type
      - operation
      - source
      - id
      - createdBy
      - createdAt
      - updatedAt
      description: A single unit of work that will execute asynchronously
      title: Job
    type_jobs_JobConfig:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/type_jobs_JobType'
          description: The type of job
        operation:
          type: string
          description: the type of operation to perform on the data. For example, "export".
        source:
          $ref: '#/components/schemas/type_jobs_JobSource'
        destination:
          $ref: '#/components/schemas/type_jobs_JobDestination'
        config:
          $ref: '#/components/schemas/type_jobs_JobUpdateConfig'
        trigger:
          $ref: '#/components/schemas/type_jobs_Trigger'
          description: the type of trigger to use for this job
        status:
          $ref: '#/components/schemas/type_jobs_JobStatus'
          description: the status of the job
        progress:
          type: integer
          description: the progress of the job. Whole number between 0 and 100
        fileId:
          $ref: '#/components/schemas/type_commons_FileId'
        mode:
          $ref: '#/components/schemas/type_jobs_JobMode'
          description: the mode of the job
        input:
          type: object
          additionalProperties:
            description: Any type
          description: Input parameters for this job type.
        subject:
          $ref: '#/components/schemas/type_jobs_JobSubject'
          description: Subject parameters for this job type.
        outcome:
          type: object
          additionalProperties:
            description: Any type
          description: Outcome summary of job.
        result:
          type: object
          additionalProperties:
            description: Any type
          description: Information computed during job execution can be stored here
        info:
          type: string
          description: Current status of job in text
        managed:
          type: boolean
          description: Indicates if Flatfile is managing the control flow of this job or if it is being manually tracked.
        environmentId:
          $ref: '#/components/schemas/type_commons_EnvironmentId'
          description: The id of the environment this job belongs to
        part:
          type: integer
          description: The part number of this job
        partData:
          type: object
          additionalProperties:
            description: Any type
          description: The data for this part of the job
        partExecution:
          $ref: '#/components/schemas/type_jobs_JobPartExecution'
          description: The execution mode for this part of the job
        parentId:
          $ref: '#/components/schemas/type_commons_JobId'
          description: The id of the parent job
        predecessorIds:
          type: array
          items:
            $ref: '#/components/schemas/type_commons_JobId'
          description: The ids of the jobs that must complete before this job can start
        metadata:
          type: object
          additionalProperties:
            description: Any type
          description: Additional metadata for the job
      required:
      - type
      - operation
      - source
      description: A single unit of work that a pipeline will execute
      title: JobConfig
    type_jobs_JobSplitDetails:
      type: object
      properties:
        parts:
          $ref: '#/components/schemas/type_jobs_JobParts'
        runInParallel:
          type: boolean
      required:
      - parts
      description: Info about the reason the job was split
      title: JobSplitDetails
    type_jobs_AiGenerateBlueprintJobConfig:
      type: object
      properties:
        spaceId:
          $ref: '#/components/schemas/type_commons_SpaceId'
        appId:
          $ref: '#/components/schemas/type_commons_AppId'
      required:
      - spaceId
      - appId
      title: AiGenerateBlueprintJobConfig
    type_commons_InputEnumPropertyOption:
      type: object
      properties:
        label:
          type: string
          description: A visual label for this option, defaults to value if not provided
        description:
          type: string
          description: A short description for this option
        color:
          type: string
          description: An optional color to assign this option
        icon:
          type: string
          description: A reference pointer to a previously registered icon
        meta:
          type: object
          additionalProperties:
            description: Any type
          description: An arbitrary JSON object to be associated with this option and made available to hooks
        value:
          description: The value or ID of this option. This value will be sent in egress. The type is a string | integer | boolean.
      required:
      - value
      title: InputEnumPropertyOption
    type_commons_JSONPathString:
      type: string
      description: A JSONPath string - https://www.rfc-editor.org/rfc/rfc9535
      title: JSONPathString
    type_jobs_DestinationField:
      type: object
      properties:
        destinationField:
          $ref: '#/components/schemas/type_property_Property'
          description: The description of the destination field
        preview:
          type: array
          items:
            type: string
          description: A list of preview values of the data in the destination field
      required:
      - destinationField
      title: DestinationField
    type_records_ValidationSource:
      type: string
      enum:
      - required-constraint
      - unique-constraint
      - custom-logic
      - unlinked
      - invalid-option
      - is-artifact
      title: ValidationSource
    type_jobs_JobOutcomeTriggerType:
      type: string
      enum:
      - manual
      - automatic
      - automatic_silent
      description: Whether a job outcome's effect should be triggered automatically
      title: JobOutcomeTriggerType
    type_jobs_DeleteRecordsJobConfig:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/type_commons_Filter'
          description: Options to filter records (default=none)
        filterField:
          $ref: '#/components/schemas/type_commons_FilterField'
          description: Use this to narrow the valid/error filter results to a specific field (Requires filter to be set)
        searchValue:
          $ref: '#/components/schemas/type_commons_SearchValue'
        searchField:
          $ref: '#/components/schemas/type_commons_SearchField'
        q:
          type: string
          description: FFQL query to filter records
        sheet:
          $ref: '#/components/schemas/type_commons_SheetId'
        exceptions:
          type: array
          items:
            $ref: '#/components/schemas/type_commons_RecordId'
          description: List of record ids to exclude from deletion
        snapshotLabel:
          type: string
          description: If specified, a snapshot will be generated with this label
      required:
      - sheet
      description: The configuration for a delete job
      title: DeleteRecordsJobConfig
    type_commons_Pagination:
      type: object
      properties:
        currentPage:
          type: integer
          description: current page of results
        pageCount:
          type: integer
          description: total number of pages of results
        totalCount:
          type: integer
          description: total available results
      required:
      - currentPage
      - pageCount
      - totalCount
      description: pagination info
      title: Pagination
    type_jobs_JobOutcomeNextFileObject:
      type: object
      properties:
        fileId:
          type: string
        label:
          type: string
      required:
      - fileId
      title: JobOutcomeNextFileObject
    type_jobs_JobType:
      type: string
      enum:
      - file
      - workbook
      - sheet
      - space
      - document
      - app
      - agent
      - autobuild
      - onboarding
      description: The type of job
      title: JobType
    type_jobs_Trigger:
      type: string
      enum:
      - manual
      - immediate
      description: The type of trigger to use for this job
      title: Trigger
    type_commons_ActionMount:
      oneOf:
      - type: object
        properties:
          type:
            type: string
            enum:
            - sheet
            description: 'Discriminator value: sheet'
          slugs:
            type: array
            items:
              type: string
        required:
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - workbook
            description: 'Discriminator value: workbook'
          slugs:
            type: array
            items:
              type: string
        required:
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - field
            description: 'Discriminator value: field'
          keys:
            type: array
            items:
              type: string
        required:
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - document
            description: 'Discriminator value: document'
        required:
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - file
            description: 'Discriminator value: file'
        required:
        - type
      discriminator:
        propertyName: type
      title: ActionMount
    type_jobs_JobParts:
      oneOf:
      - type: integer
      - $ref: '#/components/schemas/type_jobs_JobPartsArray'
      description: Info about the number of parts to create
      title: JobParts
    type_property_BooleanPropertyConfig:
      type: object
      properties:
        allowIndeterminate:
          type: boolean
          description: Allow a neither true or false state to be stored as `null`
      required:
      - allowIndeterminate
      title: BooleanPropertyConfig
    type_commons_FilterField:
      type: string
      description: Use this to narrow the valid/error filter results to a specific field
      title: FilterField
    type_records_DiffValue:
      type: object
      properties:
        valid:
          type: boolean
        messages:
          type: array
          items:
            $ref: '#/components/schemas/type_records_ValidationMessage'
        metadata:
          type: object
          additionalProperties:
            description: Any type
          description: Deprecated, use record level metadata instead.
        value:
          $ref: '#/components/schemas/type_records_CellValueUnion'
        layer:
          type: string
        updatedAt:
          type: string
          format: date-time
        snapshotValue:
          $ref: '#/components/schemas/type_records_CellValueUnion'
        clipValue:
          $ref: '#/components/schemas/type_records_CellValueUnion'
        warning:
          type: boolean
        warnings:
          type: array
          items:
            type: string
      title: DiffValue
    type_jobs_JobResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/type_jobs_Job'
      required:
      - data
      title: JobResponse
    type_jobs_CaptureRoutineJobConfig:
      type: object
      properties:
        sourceJobId:
          $ref: '#/components/schemas/type_commons_JobId'
        runbookId:
          $ref: '#/components/schemas/type_commons_RunbookId'
      required:
      - sourceJobId
      - runbookId
      title: CaptureRoutineJobConfig
    type_jobs_JobCancelDetails:
      type: object
      properties:
        info:
          type: string
      description: Info about the reason the job was canceled
      title: JobCancelDetails
    type_records_DiffRecord:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/type_commons_RecordId'
        versionId:
          $ref: '#/components/schemas/type_commons_VersionId'
          description: Deprecated, use `commitId` instead.
        commitId:
          $ref: '#/components/schemas/type_commons_CommitId'
        valid:
          type: boolean
          description: Auto-generated value based on whether the record contains a field with an error message. Cannot be set via the API.
        messages:
          type: array
          items:
            $ref: '#/components/schemas/type_records_ValidationMessage'
          description: This record level `messages` property is deprecated and no longer stored or used. Use the `messages` property on the individual cell values instead. This property will be removed in a future release.
        metadata:
          type: object
          additionalProperties:
            description: Any type
        config:
          $ref: '#/components/schemas/type_records_RecordConfig'
        values:
          $ref: '#/components/schemas/type_records_DiffData'
        resolves:
          type: array
          items:
            $ref: '#/components/schemas/type_data-clips_Resolve'
      required:
      - id
      - values
      title: DiffRecord
    type_commons_CommitId:
      type: string
      description: Commit ID
      title: CommitId
    type_jobs_JobExecutionPlanConfigRequest:
      type: object
      properties:
        fieldMapping:
          type: array
          items:
            $ref: '#/components/schemas/type_jobs_Edge'
        unmappedSourceFields:
          type: array
          items:
            $ref: '#/components/schemas/type_jobs_SourceField'
        unmappedDestinationFields:
          type: array
          items:
            $ref: '#/components/schemas/type_jobs_DestinationField'
        programId:
          type: string
        fileId:
          $ref: '#/components/schemas/type_commons_FileId'
        jobId:
          $ref: '#/components/schemas/type_commons_JobId'
      required:
      - fileId
      - jobId
      title: JobExecutionPlanConfigRequest
    type_property_StoredConstraint:
      type: object
      properties:
        validator:
          type: string
          description: Must match the constraint validator name.
        version:
          type: integer
          description: The version of the stored constraint to use. (Defaults to version 1.)
        description:
          type: string
          description: A full description of what this constraint configuration does
        label:
          type: string
          description: A short description of what this constraint constraint should do, example - values between 1 and 100
        config:
          description: Any type
      required:
      - validator
      title: StoredConstraint
    type_property_EnumPropertyOption:
      type: object
      properties:
        label:
          type: string
          description: A visual label for this option
        description:
          type: string
          description: A short description for this option
        color:
          type: string
          description: An optional color to assign this option
        icon:
          type: string
          description: A reference pointer to a previously registered icon
        meta:
          type: object
          additionalProperties:
            description: Any type
          description: An arbitrary JSON object to be associated with this option and made available to hooks
        value:
          description: The value or ID of this option. This value will be sent in egress. The type is a string | integer | boolean.
        alternativeNames:
          type: array
          items:
            type: string
          description: Alternative names to match this enum option to
        ordinal:
          type: integer
          description: The order of this option in the list. SortBy must be set to `ordinal` to use this.
      required:
      - value
      title: EnumPropertyOption
    type_jobs_JobOutcomeNext:
      oneOf:
      - type: object
        properties:
          type:
            type: string
            enum:
            - id
            description: 'Discriminator value: id'
          id:
            type: string
          label:
            type: string
          path:
            type: string
          query:
            type: string
        required:
        - type
        - id
      - type: object
        properties:
          type:
            type: string
            enum:
            - url
            description: 'Discriminator value: url'
          url:
            type: string
          label:
            type: string
          replace:
            type: boolean
            description: Whether to replace the current tab or iframe when navigating to the url. Defaults to false.
        required:
        - type
        - url
      - type: object
        properties:
          type:
            type: string
            enum:
            - download
            description: 'Discriminator value: download'
          url:
            type: string
          label:
            type: string
          fileName:
            type: string
        required:
        - type
        - url
      - type: object
        properties:
          type:
            type: string
            enum:
            - files
            description: 'Discriminator value: files'
          files:
            type: array
            items:
              $ref: '#/components/schemas/type_jobs_JobOutcomeNextFileObject'
          label:
            type: string
        required:
        - type
        - files
      - type: object
        properties:
          type:
            type: string
            enum:
            - wait
            description: 'Discriminator value: wait'
          fade:
            type: boolean
          confetti:
            type: boolean
        required:
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - snapshot
            description: 'Discriminator value: snapshot'
          snapshotId:
            type: string
          sheetId:
            type: string
        required:
        - type
        - snapshotId
        - sheetId
      - type: object
        properties:
          type:
            type: string
            enum:
            - retry
            description: 'Discriminator value: retry'
          label:
            type: string
        required:
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - view
            description: 'Discriminator value: view'
          sheetId:
            type: string
          hiddenColumns:
            type: array
            items:
              type: string
            description: An array of field keys from the sheet
          label:
            type: string
        required:
        - type
        - sheetId
        - hiddenColumns
      - type: object
        properties:
          type:
            type: string
            enum:
            - clearFilters
            description: 'Discriminator value: clearFilters'
          label:
            type: string
          sheetIds:
            type: array
            items:
              type: string
        required:
        - type
      discriminator:
        propertyName: type
      title: JobOutcomeNext
    type_jobs_JobOutcomeTriggerDetails:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/type_jobs_JobOutcomeTriggerType'
        audience:
          $ref: '#/components/schemas/type_jobs_JobOutcomeTriggerAudience'
      required:
      - type
      description: Details about the trigger for the job outcome
      title: JobOutcomeTriggerDetails
    type_jobs_AiRuleCreationJobConfig:
      type: object
      properties:
        label:
          type: string
          description: Display name for the rule to be created
        prompt:
          type: string
          description: The natural language description of the rule to be created
        sheetId:
          $ref: '#/components/schemas/type_commons_SheetId'
          description: The ID of the sheet containing the field to create/update the rule for
        fieldKey:
          type: string
          description: The key of the field to create/update the rule for
        index:
          type: integer
          description: To edit an existing rule, provide the index of the constraint in the constraints array for the field and that constraint will be replaced.
      required:
      - prompt
      - sheetId
      - fieldKey
      description: Configuration for AI-powered rule creation jobs that generate or replace field constraints
      title: AiRuleCreationJobConfig
    type_commons_Guide:
      type: object
      properties:
        content:
          type: string
          description: Markdown guidance for this action
      required:
      - content
      title: Guide
    type_property_ReferenceListPropertyConfig:
      type: object
      properties:
        ref:
          type: string
          description: Full path reference to a sheet configuration. Must be in the same workbook.
        key:
          type: string
          description: Key of the property to use as the reference key. Defaults to `id`
        filter:
          $ref: '#/components/schemas/type_property_ReferenceFilter'
          description: Optional filter to narrow the set of records in the reference sheet used as valid values
      required:
      - ref
      - key
      title: ReferenceListPropertyConfig
    type_jobs_JobUpdateConfig:
      oneOf:
      - $ref: '#/components/schemas/type_jobs_DeleteRecordsJobConfig'
      - $ref: '#/components/schemas/type_jobs_FileJobConfig'
      - $ref: '#/components/schemas/type_jobs_PipelineJobConfig'
      - $ref: '#/components/schemas/type_jobs_ExportJobConfig'
      - $ref: '#/components/schemas/type_jobs_MutateJobConfig'
      - $ref: '#/components/schemas/type_jobs_FindAndReplaceJobConfig'
      - $ref: '#/components/schemas/type_jobs_MappingProgramJobConfig'
      - $ref: '#/components/schemas/type_jobs_AiGenerateBlueprintJobConfig'
      - $ref: '#/components/schemas/type_jobs_AiGenerateSampleDataJobConfig'
      - $ref: '#/components/schemas/type_jobs_AiGenerateBlueprintConstraintsJobConfig'
      - $ref: '#/components/schemas/type_jobs_AiGenerateConstraintJobConfig'
      - $ref: '#/components/schemas/type_jobs_AiRuleCreationJobConfig'
      - $ref: '#/components/schemas/type_jobs_CaptureRoutineJobConfig'
      - $ref: '#/components/schemas/type_jobs_RunRunbookJobConfig'
      - $ref: '#/components/schemas/type_jobs_MappingFromPreprocessingJobConfig'
      - $ref: '#/components/schemas/type_jobs_EmptyObject'
      - $ref: '#/components/schemas/type_jobs_AddRecordsToDataClipJobConfig'
      - $ref: '#/components/schemas/type_jobs_UpdateDataClipResolutionsJobConfig'
      - $ref: '#/components/schemas/type_jobs_AgentExportJobConfig'
      - $ref: '#/components/schemas/type_jobs_AgentPromotionJobConfig'
      - $ref: '#/components/schemas/type_jobs_CompanyResearchJobConfig'
      - $ref: '#/components/schemas/type_jobs_ConfigureDemoJobConfig'
      - $ref: '#/components/schemas/type_jobs_BulkMutateFlagsJobConfig'
      title: JobUpdateConfig
    type_jobs_ConfigureDemoJobConfig:
      type: object
      properties:
        companyName:
          type: string
          description: The name of the company
      required:
      - companyName
      description: The configuration for an onboarding job
      title: ConfigureDemoJobConfig
    type_property_Property:
      oneOf:
      - type: object
        properties:
          type:
            type: string
            enum:
            - string
            description: 'Discriminator value: string'
          key:
            type: string
          label:
            type: string
            description: User friendly field name
          description:
            type: string
            description: A short description of the field. Markdown syntax is supported.
          constraints:
            type: array
            items:
              $ref: '#/components/schemas/type_property_Constraint'
            description: A list of constraints that should be applied to this field. This is limited to a maximum of 10 constraints and all external and stored constraints must have unique validator values.
          readonly:
            type: boolean
          appearance:
            $ref: '#/components/schemas/type_property_FieldAppearance'
          actions:
            type: array
            items:
              $ref: '#/components/schemas/type_commons_Action'
            description: An array of actions that end users can perform on this Column.
          metadata:
            description: Useful for any contextual metadata regarding the schema. Store any valid json here.
          treatments:
            type: array
            items:
              type: string
            description: A unique presentation for a field in the UI.
          alternativeNames:
            type: array
            items:
              type: string
          config:
            $ref: '#/components/schemas/type_property_StringConfig'
        required:
        - type
        - key
      - type: object
        properties:
          type:
            type: string
            enum:
            - number
            description: 'Discriminator value: number'
          key:
            type: string
          label:
            type: string
            description: User friendly field name
          description:
            type: string
            description: A short description of the field. Markdown syntax is supported.
          constraints:
            type: array
            items:
              $ref: '#/components/schemas/type_property_Constraint'
            description: A list of constraints that should be applied to this field. This is limited to a maximum of 10 constraints and all external and stored constraints must have unique validator values.
          readonly:
            type: boolean
          appearance:
            $ref: '#/components/schemas/type_property_FieldAppearance'
          actions:
            type: array
            items:
              $ref: '#/components/schemas/type_commons_Action'
            description: An array of actions that end users can perform on this Column.
          metadata:
            description: Useful for any contextual metadata regarding the schema. Store any valid json here.
          treatments:
            type: array
            items:
              type: string
            description: A unique presentation for a field in the UI.
          alternativeNames:
            type: array
            items:
              type: string
          isArray:
            type: boolean
            description: Will allow multiple values and store as an array. Use enum-list type instead.
          config:
            $ref: '#/components/schemas/type_property_NumberConfig'
        required:
        - type
        - key
      - type: object
        properties:
          type:
            type: string
            enum:
            - boolean
            description: 'Discriminator value: boolean'
          key:
            type: string
          label:
            type: string
            description: User friendly field name
          description:
            type: string
            description: A short description of the field. Markdown syntax is supported.
          constraints:
            type: array
            items:
              $ref: '#/components/schemas/type_property_Constraint'
            description: A list of constraints that should be applied to this field. This is limited to a maximum of 10 constraints and all external and stored constraints must have unique validator values.
          readonly:
            type: boolean
          appearance:
            $ref: '#/components/schemas/type_property_FieldAppearance'
          actions:
            type: array
            items:
              $ref: '#/components/schemas/type_commons_Action'
            description: An array of actions that end users can perform on this Column.
          metadata:
            description: Useful for any contextual metadata regarding the schema. Store any valid json here.
          treatments:
            type: array
            items:
              type: string
            description: A unique presentation for a field in the UI.
          alternativeNames:
            type: array
            items:
              type: string
          config:
            $ref: '#/components/schemas/type_property_BooleanPropertyConfig'
        required:
        - type
        - key
      - type: object
        properties:
          type:
            type: string
            enum:
            - date
            description: 'Discriminator value: date'
          key:
            type: string
          label:
            type: string
            description: User friendly field name
          description:
            type: string
            description: A short description of the field. Markdown syntax is supported.
          constraints:
            type: array
            items:
              $ref: '#/components/schemas/type_property_Constraint'
            description: A list of constraints that should be applied to this field. This is limited to a maximum of 10 constraints and all external and stored constraints must have unique validator values.
          readonly:
            type: boolean
          appearance:
            $ref: '#/components/schemas/type_property_FieldAppearance'
          actions:
            type: array
            items:
              $ref: '#/components/schemas/type_commons_Action'
            description: An array of actions that end users can perform on this Column.
          metadata:
            description: Useful for any contextual metadata regarding the schema. Store any valid json here.
          treatments:
            type: array
            items:
              type: string
            description: A unique presentation for a field in the UI.
          alternativeNames:
            type: array
            items:
              type: string
        required:
        - type
        - key
      - type: object
        properties:
          type:
            type: string
            enum:
            - enum
            description: 'Discriminator value: enum'
          key:
            type: string
          label:
            type: string
            description: User friendly field name
          description:
            type: string
            description: A short description of the field. Markdown syntax is supported.
          constraints:
            type: array
            items:
              $ref: '#/components/schemas/type_property_Constraint'
            description: A list of constraints that should be applied to this field. This is limited to a maximum of 10 constraints and all external and stored constraints must have unique validator values.
          readonly:
            type: boolean
          appearance:
            $ref: '#/components/schemas/type_property_FieldAppearance'
          actions:
            type: array
            items:
              $ref: '#/components/schemas/type_commons_Action'
            description: An array of actions that end users can perform on this Column.
          metadata:
            description: Useful for any contextual metadata regarding the schema. Store any valid json here.
          treatments:
            type: array
            items:
              type: string
            description: A unique presentation for a field in the UI.
          alternativeNames:
            type: array
            items:
              type: string
          isArray:
            type: boolean
            description: Will allow multiple values and store as an array. Use enum-list type instead.
          multi:
            type: boolean
            description: Will allow multiple values and store / provide the values in an array if set. Not all field types support arrays. Use enum-list type instead.
          config:
            $ref: '#/components/schemas/type_property_EnumPropertyConfig'
        required:
        - type
        - key
        - config
      - type: object
        properties:
          type:
            type: string
            enum:
            - reference
            description: 'Discriminator value: reference'
          key:
            type: string
          label:
            type: string
            description: User friendly field name
          description:
            type: string
            description: A short description of the field. Markdown syntax is supported.
          constraints:
            type: array
            items:
              $ref: '#/components/schemas/type_property_Constraint'
            description: A list of constraints that should be applied to this field. This is limited to a maximum of 10 constraints and all external and stored constraints must have unique validator values.
          readonly:
            type: boolean
          appearance:
            $ref: '#/components/schemas/type_property_FieldAppearance'
          actions:
            type: array
            items:
              $ref: '#/components/schemas/type_commons_Action'
            description: An array of actions that end users can perform on this Column.
          metadata:
            description: Useful for any contextual metadata regarding the schema. Store any valid json here.
          treatments:
            type: array
            items:
              type: string
            description: A unique presentation for a field in the UI.
          alternativeNames:
            type: array
            items:
              type: string
          isArray:
            type: boolean
            description: Will allow multiple values and store as an array. Use enum-list type instead.
          config:
            $ref: '#/components/schemas/type_property_ReferencePropertyConfig'
        required:
        - type
        - key
        - config
      - type: object
        properties:
          type:
            type: string
            enum:
            - reference-list
            description: 'Discriminator value: reference-list'
          key:
            type: string
          label:
            type: string
            description: User friendly field name
          description:
            type: string
            description: A short description of the field. Markdown syntax is supported.
          constraints:
            type: array
            items:
              $ref: '#/components/schemas/type_property_Constraint'
            description: A list of constraints that should be applied to this field. This is limited to a maximum of 10 constraints and all external and stored constraints must have unique validator values.
          readonly:
            type: boolean
          appearance:
            $ref: '#/components/schemas/type_property_FieldAppearance'
          actions:
            type: array
            items:
              $ref: '#/components/schemas/type_commons_Action'
            description: An array of actions that end users can perform on this Column.
          metadata:
            description: Useful for any contextual metadata regarding the schema. Store any valid json here.
          treatments:
            type: array
            items:
              type: string
            description: A unique presentation for a field in the UI.
          alternativeNames:
            type: array
            items:
              type: string
          isArray:
            type: boolean
            description: Will allow multiple values and store as an array. Use enum-list type instead.
          config:
            $ref: '#/components/schemas/type_property_ReferenceListPropertyConfig'
        required:
        - type
        - key
        - config
      - type: object
        properties:
          type:
            type: string
            enum:
            - string-list
            description: 'Discriminator value: string-list'
          key:
            type: string
          label:
            type: string
            description: User friendly field name
          description:
            type: string
            description: A short description of the field. Markdown syntax is supported.
          constraints:
            type: array
            items:
              $ref: '#/components/schemas/type_property_Constraint'
            description: A list of constraints that should be applied to this field. This is limited to a maximum of 10 constraints and all external and stored constraints must have unique validator values.
          readonly:
            type: boolean
          appearance:
            $ref: '#/components/schemas/type_property_FieldAppearance'
          actions:
            type: array
            items:
              $ref: '#/components/schemas/type_commons_Action'
            description: An array of actions that end users can perform on this Column.
          metadata:
            description: Useful for any contextual metadata regarding the schema. Store any valid json here.
          treatments:
            type: array
            items:
              type: string
            description: A unique presentation for a field in the UI.
          alternativeNames:
            type: array
            items:
              type: string
        required:
        - type
        - key
      - type: object
        properties:
          type:
            type: string
            enum:
            - enum-list
            description: 'Discriminator value: enum-list'
          key:
            type: string
          label:
            type: string
            description: User friendly field name
          description:
            type: string
            description: A short description of the field. Markdown syntax is supported.
          constraints:
            type: array
            items:
              $ref: '#/components/schemas/type_property_Constraint'
            description: A list of constraints that should be applied to this field. This is limited to a maximum of 10 constraints and all external and stored constraints must have unique validator values.
          readonly:
            type: boolean
          appearance:
            $ref: '#/components/schemas/type_property_FieldAppearance'
          actions:
            type: array
            items:
              $ref: '#/components/schemas/type_commons_Action'
            description: An array of actions that end users can perform on this Column.
          metadata:
            description: Useful for any contextual metadata regarding the schema. Store any valid json here.
          treatments:
            type: array
            items:
              type: string
            description: A unique presentation for a field in the UI.
          alternativeNames:
            type: array
            items:
              type: string
          config:
            $ref: '#/components/schemas/type_property_EnumPropertyConfig'
        required:
        - type
        - key
        - config
      discriminator:
        propertyName: type
      title: Property
    type_jobs_JobOutcomeTrigger:
      oneOf:
      - $ref: '#/components/schemas/type_jobs_JobOutcomeTriggerType'
      - $ref: '#/components/schemas/type_jobs_JobOutcomeTriggerDetails'
      title: JobOutcomeTrigger
    type_commons_ActionMode:
      type: string
      enum:
      - foreground
      - background
      - toolbarBlocking
      description: Foreground actions will prevent interacting with the resource until complete
      title: ActionMode
    type_jobs_JobMode:
      type: string
      enum:
      - foreground
      - background
      - toolbarBlocking
      - hidden
      description: the mode of the job
      title: JobMode
    type_jobs_EnumDetails:
      type: object
      properties:
        mapping:
          type: array
          items:
            $ref: '#/components/schemas/type_jobs_CategoryMapping'
          description: The mapping of source values to destination values
        unusedSourceValues:
          type: array
          items:
            $ref: '#/components/schemas/type_jobs_EnumValue'
          description: A list of source values that are not mapped from
        unusedDestinationValues:
          type: array
          items:
            $ref: '#/components/schemas/type_jobs_EnumValue'
          description: A list of destination values that are not mapped to
      required:
      - mapping
      description: Only available if one or more of the destination fields is of type enum. Provides category mapping.
      title: EnumDetails
    type_commons_InputField:
      type: object
      properties:
        key:
          type: string
          description: Unique key for a Field.
        label:
          type: string
          description: Visible name of a Field.
        description:
          type: string
          description: Brief description below the name of the Field.
        type:
          type: string
          description: Field Types inform the user interface how to sort and display data.
        defaultValue:
          description: Default value for a Field.
        config:
          $ref: '#/components/schemas/type_commons_InputConfig'
          description: Additional configuration for enum Fields.
        constraints:
          type: array
          items:
            $ref: '#/components/schemas/type_commons_InputConstraint'
          description: Indicate additional validations that will be applied to the Field.
      required:
      - key
      - label
      - type
      title: InputField
    type_jobs_SourceField:
      type: object
      properties:
        sourceField:
          $ref: '#/components/schemas/type_property_Property'
          description: The description of the source field
        preview:
          type: array
          items:
            type: string
          description: A list of preview values of the data in the source field
      required:
      - sourceField
      title: SourceField
    type_commons_ActionSchedule:
      type: string
      enum:
      - weekly
      - daily
      - hourly
      title: ActionSchedule
    type_property_ReferenceFilter:
      type: object
      properties:
        refField:
          type: string
          description: The field key of the reference sheet to filter with
        recordField:
          type: string
          description: The field key of the record used to filter the reference field
      required:
      - refField
      - recordField
      description: If provided, the reference filter will narrow the set of records in the reference sheet used as the set of valid values for the record. Only rows where the value in the reference sheet's refField matches the value in this record's recordField will be used.
      title: ReferenceFilter
    type_jobs_FindAndReplaceJobConfig:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/type_commons_Filter'
          description: The filter to apply to the records
        filterField:
          $ref: '#/components/schemas/type_commons_FilterField'
          description: The field to filter on
        searchValue:
          $ref: '#/components/schemas/type_commons_SearchValue'
          description: The value to search for
        searchField:
          $ref: '#/components/schemas/type_commons_SearchField'
          description: The field to search for the search value in
        q:
          type: string
          description: The FFQL query to filter records
        ids:
          type: array
          items:
            $ref: '#/components/schemas/type_commons_RecordId'
          description: The Record Ids param (ids) is a list of record ids that can be passed to several record endpoints allowing the user to identify specific records to INCLUDE in the query, or specific records to EXCLUDE, depending on whether or not filters are being applied. When passing a query param that filters the record dataset, such as 'searchValue', or a 'filter' of 'valid' | 'error' | 'all', the 'ids' param will EXCLUDE those records from the filtered results. For basic queries that do not filter the dataset, passing record ids in the 'ids' param will limit the dataset to INCLUDE just those specific records
        find:
          $ref: '#/components/schemas/type_records_CellValueUnion'
          description: A value to find for a given field in a sheet. Wrap the value in "" for exact match
        replace:
          $ref: '#/components/schemas/type_records_CellValueUnion'
          description: The value to replace found values with
        fieldKey:
          type: string
          description: A unique key used to identify a field in a sheet
        snapshotLabel:
          type: string
          description: If specified, a snapshot will be generated with this label
      required:
      - fieldKey
      title: FindAndReplaceJobConfig
    type_flags_FlagOperation:
      type: string
      enum:
      - apply
      - update
      - delete
      - replace
      description: The type of flag operation to perform
      title: FlagOperation
    type_jobs_JobOutcomeTriggerAudience:
      type: string
      enum:
      - originator
      - all
      description: For whom the job outcome's next effect should be triggered automatically
      title: JobOutcomeTriggerAudience
    type_jobs_FlagMutationConfigData:
      type: object
      properties:
        slug:
          type: string
          description: The flag slug
        label:
          type: string
          description: The flag label
        colorHex:
          type: string
          description: The flag color in hex format
      required:
      - slug
      description: Flag data for mutation operations
      title: FlagMutationConfigData
    type_commons_Success:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/type_commons_SuccessData'
      description: Informs whether or not a request was successful
      title: Success
    type_property_StringConfigOptions:
      type: string
      enum:
      - tiny
      - normal
      - medium
      - long
      description: How much text should be storeable in this field
      title: StringConfigOptions
    type_property_ReferencePropertyConfig:
      type: object
      properties:
        ref:
          type: string
          description: Full path reference to a sheet configuration. Must be in the same workbook.
        key:
          type: string
          description: Key of the property to use as the reference key. Defaults to `id`
        filter:
          $ref: '#/components/schemas/type_property_ReferenceFilter'
          description: Optional filter to narrow the set of records in the reference sheet used as valid values
        relationship:
          $ref: '#/components/schemas/type_property_ReferencePropertyRelationship'
          description: The type of relationship this defines
      required:
      - ref
      - key
      title: ReferencePropertyConfig
    type_jobs_CategoryMapping:
      type: object
      properties:
        sourceValue:
          $ref: '#/components/schemas/type_jobs_EnumValue'
          description: The source value to map from
        destinationValue:
          $ref: '#/components/schemas/type_jobs_EnumValue'
          description: The destination value to map to
      title: CategoryMapping
    type_jobs_JobUpdate:
      type: object
      properties:
        config:
          $ref: '#/components/schemas/type_jobs_JobUpdateConfig'
        status:
          $ref: '#/components/schemas/type_jobs_JobStatus'
          description: the status of the job
        progress:
          type: integer
          description: the progress of the job. Whole number between 0 and 100
        outcomeAcknowledgedAt:
          type: string
          format: date-time
          description: the time that the job's outcome has been acknowledged by a user
        info:
          type: string
          description: Current status of job in text
        metadata:
          type: object
          additionalProperties:
            description: Any type
          description: Additional metadata for the job
      description: A single unit of work that will be executed
      title: JobUpdate
    type_commons_Action:
      type: object
      properties:
        slug:
          type: string
          description: '**This is deprecated. Use `operation` instead.**'
        operation:
          type: string
          description: This will become the job operation that is triggered
        mode:
          $ref: '#/components/schemas/type_commons_ActionMode'
          description: Foreground and toolbarBlocking action mode will prevent interacting with the resource until complete
        tooltip:
          type: string
          description: A tooltip that appears when hovering the action button
        messages:
          type: array
          items:
            $ref: '#/components/schemas/type_commons_ActionMessage'
        type:
          type: string
          description: '**This is deprecated.**'
        description:
          type: string
          description: The text that appears in the dialog after the action is clicked.
        schedule:
          $ref: '#/components/schemas/type_commons_ActionSchedule'
          description: Determines if the action should happen on a regular cadence.
        primary:
          type: boolean
          description: A primary action will be more visibly present, whether in Sheet or Workbook.
        confirm:
          type: boolean
          description: Whether to show a modal to confirm the action
        icon:
          type: string
          description: Icon will work on primary actions. It will only accept an already existing Flatfile design system icon.
        requireAllValid:
          type: boolean
          description: '**This is deprecated. Use `constraints` instead.**'
        requireSelection:
          type: boolean
          description: '**This is deprecated. Use `constraints` instead.**'
        inputForm:
          $ref: '#/components/schemas/type_commons_InputForm'
          description: Adds an input form for this action after it is clicked.
        constraints:
          type: array
          items:
            $ref: '#/components/schemas/type_commons_ActionConstraint'
          description: A limitation or restriction on the action.
        mount:
          $ref: '#/components/schemas/type_commons_ActionMount'
        guide:
          $ref: '#/components/schemas/type_commons_Guide'
        guardrail:
          $ref: '#/components/schemas/type_commons_Guardrail'
        createdFrom:
          $ref: '#/components/schemas/type_commons_ActionId'
          description: The action that this action was cloned from
        lastPropagatedAt:
          type: string
          format: date-time
          description: The last time this action was propagated to a workbook
        deletedAt:
          type: string
          format: date-time
          description: The time this action was deleted
        invalidConditionalMessaging:
          type: boolean
          description: When enabled, shows dynamic confirmation messages based on record validation status instead of the static description
        validRecordsMessage:
          type: string
          description: Custom message to show when all records are valid (only used when invalidConditionalMessaging is true)
        invalidRecordsMessage:
          type: string
          description: Custom message to show when there are invalid records (only used when invalidConditionalMessaging is true)
        label:
          type: string
          description: The text on the Button itself
      required:
      - label
      title: Action
    type_data-clips_RemovedFromMainResolution:
      type: string
      enum:
      - ignore
      - restore
      title: RemovedFromMainResolution
    type_commons_JobId:
      type: string
      description: Pipeline Job ID
      title: JobId
    type_commons_EnvironmentId:
      type: string
      description: Environment ID
      title: EnvironmentId
    type_commons_InputFormType:
      type: string
      enum:
      - simple
      title: InputFormType
    type_property_EnumPropertySortBy:
      type: string
      enum:
      - label
      - value
      - ordinal
      title: EnumPropertySortBy
    type_commons_InputForm:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/type_commons_InputFormType'
        fields:
          type: array
          items:
            $ref: '#/components/schemas/type_commons_InputField'
      required:
      - type
      - fields
      title: InputForm
    type_records_CellConfig:
      type: object
      properties:
        readonly:
          type: boolean
      description: CellConfig
      title: CellConfig
    type_property_Constraint:
      oneOf:
      - type: object
        properties:
          type:
            type: string
            enum:
            - required
            description: 'Discriminator value: required'
          config:
            $ref: '#/components/schemas/type_property_RequiredConstraintConfig'
        required:
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - unique
            description: 'Discriminator value: unique'
          config:
            $ref: '#/components/schemas/type_property_UniqueConstraintConfig'
        required:
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - computed
            description: 'Discriminator value: computed'
        required:
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - external
            description: 'Discriminator value: external'
          validator:
            type: string
          description:
            type: string
            description: A full description of what this constraint configuration does
          label:
            type: string
            description: A short description of what this constraint constraint should do, example - values between 1 and 100
          config:
            description: Any type
        required:
        - type
        - validator
      - type: object
        properties:
          type:
            type: string
            enum:
            - stored
            description: 'Discriminator value: stored'
          validator:
            type: string
            description: Must match the constraint validator name.
          version:
            type: integer
            description: The version of the stored constraint to use. (Defaults to version 1.)
          description:
            type: string
            description: A full description of what this constraint configuration does
          label:
            type: string
            description: A short description of what this constraint constraint should do, example - values between 1 and 100
          config:
            description: Any type
        required:
        - type
        - validator
      discriminator:
        propertyName: type
      title: Constraint
    type_commons_InputConfig:
      type: object
      properties:
        options:
          type: array
          items:
            $ref: '#/components/schemas/type_commons_InputEnumPropertyOption'
      required:
      - options
      title: InputConfig
    type_jobs_AiGenerateConstraintJobConfig:
      type: object
      properties:
        spaceId:
          $ref: '#/components/schemas/type_commons_SpaceId'
        constraints:
          type: array
          items:
            $ref: '#/components/schemas/type_property_StoredConstraint'
        description:
          type: string
          description: A description of what the constraint to be generated should do
      required:
      - spaceId
      - constraints
      title: AiGenerateConstraintJobConfig
    type_jobs_JobExecutionPlan:
      type: object
      properties:
        fieldMapping:
          type: array
          items:
            $ref: '#/components/schemas/type_jobs_Edge'
        unmappedSourceFields:
          type: array
          items:
            $ref: '#/components/schemas/type_jobs_SourceField'
        unmappedDestinationFields:
          type: array
          items:
            $ref: '#/components/schemas/type_jobs_DestinationField'
        programId:
          type: string
      required:
      - fieldMapping
      - unmappedSourceFields
      - unmappedDestinationFields
      description: The execution plan for a job, for example, for a map job, the execution plan is the mapping of the source sheet to the destination sheet.
      title: JobExecutionPlan
    type_jobs_JobPartsArray:
      type: array
      items:
        type: object
        additionalProperties:
          description: Any type
      description: Data for each of the job parts
      title: JobPartsArray
    type_commons_ActionId:
      type: string
      description: Action ID
      title: ActionId
    type_jobs_FlagMutationConfig:
      type: object
      properties:
        type:
          type: string
          enum:
          - flag
          description: The type of mutation (always "flag")
        operation:
          $ref: '#/components/schemas/type_flags_FlagOperation'
          description: The operation to perform
        flag:
          $ref: '#/components/schemas/type_jobs_FlagMutationConfigData'
          description: The flag data for the operation
        flags:
          type: array
          items:
            type: string
          description: Array of flag slugs for delete operation
      required:
      - type
      - operation
      - flag
      description: Configuration for flag mutation operations
      title: FlagMutationConfig
    type_jobs_Metadata:
      type: object
      properties:
        certainty:
          $ref: '#/components/schemas/type_jobs_Certainty'
        confidence:
          type: number
          format: double
        source:
          type: string
        detectedDelimiter:
          type: string
      title: Metadata
    type_jobs_RunRunbookJobConfig:
      type: object
      properties:
        sourceSheetId:
          $ref: '#/components/schemas/type_commons_SheetId'
        runbookId:
          $ref: '#/components/schemas/type_commons_RunbookId'
      required:
      - sourceSheetId
      - runbookId
      title: RunRunbookJobConfig
    type_jobs_JobPlanResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/type_jobs_JobPlan'
      required:
      - data
      title: JobPlanResponse
    type_commons_ActionConstraint:
      oneOf:
      - type: object
        properties:
          type:
            type: string
            enum:
            - hasAllValid
            description: 'Discriminator value: hasAllValid'
          ignoreSelection:
            type: boolean
        required:
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - hasSelection
            description: 'Discriminator value: hasSelection'
        required:
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - hasData
            description: 'Discriminator value: hasData'
        required:
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - hasColumnEnabled
            description: 'Discriminator value: hasColumnEnabled'
        required:
        - type
      discriminator:
        propertyName: type
      title: ActionConstraint
    type_records_ValidationType:
      type: string
      enum:
      - error
      - warn
      - info
      title: ValidationType
    type_jobs_AgentExportJobConfig:
      type: object
      properties:
        exportType:
          $ref: '#/components/schemas/type_agent-exports_AgentExportType'
      required:
      - exportType
      description: The configuration for an agent export job
      title: AgentExportJobConfig
    type_jobs_ExportJobConfig:
      type: object
      properties:
        options:
          $ref: '#/components/schemas/type_jobs_ExportOptions'
      required:
      - options
      title: ExportJobConfig
    type_jobs_JobDestination:
      $ref: '#/components/schemas/type_commons_WorkbookId'
      description: The id of the workbook where extracted file data will be sent
      title: JobDestination
    type_records_RecordConfig:
      type: object
      properties:
        readonly:
          type: boolean
        fields:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/type_records_CellConfig'
        markedForDeletion:
          type: boolean
      description: Configuration of a record or specific fields in the record
      title: RecordConfig
    type_commons_RunbookId:
      type: string
      description: Runbook ID
      title: RunbookId
    type_commons_SpaceId:
      type: string
      description: Space ID
      title: SpaceId
    type_jobs_JobExecutionPlanRequest:
      type: object
      properties:
        fieldMapping:
          type: array
          items:
            $ref: '#/components/schemas/type_jobs_Edge'
        unmappedSourceFields:
          type: array
          items:
            $ref: '#/components/schemas/type_jobs_SourceField'
        unmappedDestinationFields:
          type: array
          items:
            $ref: '#/components/schemas/type_jobs_DestinationField'
        programId:
          type: string
        fileId:
          $ref: '#/components/schemas/type_commons_FileId'
        jobId:
          $ref: '#/components/schemas/type_commons_JobId'
      required:
      - fieldMapping
      - unmappedSourceFields
      - unmappedDestinationFields
      - fileId
      - jobId
      title: JobExecutionPlanRequest
    type_jobs_AiGenerateSampleDataJobConfig:
      type: object
      properties:
        spaceId:
          $ref: '#/components/schemas/type_commons_SpaceId'
        appId:
          $ref: '#/components/schemas/type_commons_AppId'
      required:
      - spaceId
      - appId
      title: AiGenerateSampleDataJobConfig
    type_records_CellValueUnion:
      oneOf:
      - type: string
      - type: integer
      - type: integer
        format: int64
      - type: number
        format: double
      - type: boolean
      - type: string
        format: date
      - type: string
        format: date-time
      - type: array
        items:
          type: string
      title: CellValueUnion
    type_jobs_FileJobConfig:
      type: object
      properties:
        driver:
          $ref: '#/components/schemas/type_jobs_Driver'
          description: The driver to use for extracting data from the file
        options:
          type: object
          additionalProperties:
            description: Any type
          description: The options to use for extracting data from the file
        detectedHeaderRow:
          type: integer
          description: The row number of the header row detected at extraction time
      required:
      - driver
      title: FileJobConfig
    type_data-clips_Resolve:
      type: object
      properties:
        field:
          type: string
        type:
          $ref: '#/components/schemas/type_data-clips_ResolveType'
        resolveTo:
          $ref: '#/components/schemas/type_data-clips_ResolveTo'
        clip_value_reference:
          type: string
        main_value_reference:
          type: string
        removedFromMainResolution:
          $ref: '#/components/schemas/type_data-clips_RemovedFromMainResolution'
      description: Conflict resolutions for a record
      title: Resolve
    type_property_StringConfig:
      type: object
      properties:
        size:
          $ref: '#/components/schemas/type_property_StringConfigOptions'
      required:
      - size
      title: StringConfig
    type_property_UniqueConstraintConfig:
      type: object
      properties:
        caseSensitive:
          type: boolean
          description: Ignore casing when determining uniqueness
        ignoreEmpty:
          type: boolean
          description: Do not flag empty values as duplicate
        message:
          type: string
          description: Custom validation message to display when the constraint fails
        level:
          $ref: '#/components/schemas/type_records_ValidationType'
          description: Validation level (error, warn, info). Defaults to error.
      title: UniqueConstraintConfig
    type_property_FieldAppearance:
      type: object
      properties:
        size:
          $ref: '#/components/schemas/type_property_FieldSize'
      description: Control the appearance of this field when it's displayed in a table or input
      title: FieldAppearance
    type_commons_VersionId:
      type: string
      description: Version ID
      title: VersionId
    type_jobs_JobCompleteDetails:
      type: object
      properties:
        outcome:
          $ref: '#/components/schemas/type_jobs_JobOutcome'
        info:
          type: string
      description: Outcome summary of a job
      title: JobCompleteDetails
    type_jobs_CompanyResearchJobConfig:
      type: object
      properties:
        onboardingId:
          type: string
          description: The onboarding id
        url:
          type: string
          description: The url of the company to research
        companyName:
          type: string
          description: The name of the company to research
      required:
      - onboardingId
      description: The configuration for a company research job
      title: CompanyResearchJobConfig
    type_property_RequiredConstraintConfig:
      type: object
      properties:
        message:
          type: string
          description: Custom validation message to display when the constraint fails
        level:
          $ref: '#/components/schemas/type_records_ValidationType'
          description: Validation level (error, warn, info). Defaults to error.
      title: RequiredConstraintConfig
    type_commons_FileId:
      type: string
      description: File ID
      title: FileId
    type_jobs_MutateJobConfig:
      type: object
      properties:
        sheetId:
          $ref: '#/components/schemas/type_commons_SheetId'
        mutateRecord:
          type: string
          description: A JavaScript function that will be run on each record in the sheet, it should return a mutated record.
        mutationId:
          type: string
          description: If the mutation was generated through some sort of id-ed process, this links this job and that process.
        snapshotLabel:
          type: string
          description: If specified, a snapshot will be generated with this label
        snapshotId:
          type: string
          description: The generated snapshotId will be stored here
        filter:
          $ref: '#/components/schemas/type_commons_Filter'
        filterField:
          $ref: '#/components/schemas/type_commons_FilterField'
        searchValue:
          $ref: '#/components/schemas/type_commons_SearchValue'
        searchField:
          $ref: '#/components/schemas/type_commons_SearchField'
        q:
          type: string
        ids:
          type: array
          items:
            $ref: '#/components/schemas/type_commons_RecordId'
          description: The Record Ids param (ids) is a list of record ids that can be passed to several record endpoints allowing the user to identify specific records to INCLUDE in the query, or specific records to EXCLUDE, depending on whether or not filters are being applied. When passing a query param that filters the record dataset, such as 'searchValue', or a 'filter' of 'valid' | 'error' | 'all', the 'ids' param will EXCLUDE those records from the filtered results. For basic queries that do not filter the dataset, passing record ids in the 'ids' param will limit the dataset to INCLUDE just those specific records
      required:
      - sheetId
      - mutateRecord
      title: MutateJobConfig
    type_jobs_Driver:
      type: string
      enum:
      - csv
      description: The driver to use for extracting data from the file
      title: Driver
    type_commons_SortDirection:
      type: string
      enum:
      - asc
      - desc
      description: Sort direction - asc (ascending) or desc (descending)
      title: SortDirection
    type_commons_DataClipId:
      type: string
      description: Data Clip ID
      title: DataClipId
    type_jobs_Certainty:
      type: string
      enum:
      - absolute
      - strong
      - moderate
      - weak
      title: Certainty
    type_jobs_ExportOptions:
      type: object
      properties:
        versionId:
          $ref: '#/components/schemas/type_commons_VersionId'
          description: Deprecated, use `commitId` instead
        commitId:
          $ref: '#/components/schemas/type_commons_CommitId'
          description: If provided, the snapshot version of the workbook will be used for the export
        sortField:
          $ref: '#/components/schemas/type_commons_SortField'
          description: The field to sort the records on
        sortDirection:
          $ref: '#/components/schemas/type_commons_SortDirection'
          description: The direction to sort the records
        filter:
          $ref: '#/components/schemas/type_commons_Filter'
          description: The filter to apply to the records
        filterField:
          $ref: '#/components/schemas/type_commons_FilterField'
          description: The field to filter on
        searchValue:
          $ref: '#/components/schemas/type_commons_SearchValue'
          description: The value to search for
        searchField:
          $ref: '#/components/schemas/type_commons_SearchField'
          description: The field to search for the search value in
        q:
          type: string
          description: The FFQL query to filter records
        ids:
          type: array
          items:
            $ref: '#/components/schemas/type_commons_RecordId'
          description: The Record Ids param (ids) is a list of record ids that can be passed to several record endpoints allowing the user to identify specific records to INCLUDE in the query, or specific records to EXCLUDE, depending on whether or not filters are being applied. When passing a query param that filters the record dataset, such as 'searchValue', or a 'filter' of 'valid' | 'error' | 'all', the 'ids' param will EXCLUDE those records from the filtered results. For basic queries that do not filter the dataset, passing record ids in the 'ids' param will limit the dataset to INCLUDE just those specific records
      title: ExportOptions
    type_jobs_UpdateDataClipResolutionsJobConfig:
      type: object
      properties:
        clipId:
          $ref: '#/components/schemas/type_commons_DataClipId'
          description: The ID of the data clip to resolve
        clippedSheetId:
          $ref: '#/components/schemas/type_commons_SheetId'
          description: The ID of the sheet that contains the data clip
        resolveTo:
          $ref: '#/components/schemas/type_data-clips_ResolveTo'
        removedFromMainResolution:
[...]
