openapi: 3.2.0
info:
  title: Reference Subpackage Guests API
  version: 1.0.0
servers:
- url: https://api.x.flatfile.com/v1
tags:
- name: subpackage_guests
paths:
  /guests:
    get:
      operationId: list
      summary: List guests
      description: Returns all guests
      tags:
      - subpackage_guests
      parameters:
      - name: spaceId
        in: query
        description: ID of space to return
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_SpaceId'
      - name: email
        in: query
        description: Email of guest to return
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      - name: X-Disable-Hooks
        in: header
        required: true
        schema:
          type: string
          enum:
          - 'true'
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_guests_ListGuestsResponse'
    post:
      operationId: create
      summary: Create a guest
      description: Guests are only there to upload, edit, and download files and perform their tasks in a specific Space.
      tags:
      - subpackage_guests
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      - name: X-Disable-Hooks
        in: header
        required: true
        schema:
          type: string
          enum:
          - 'true'
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_guests_CreateGuestResponse'
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/type_guests_GuestConfig'
  /guests/{guestId}:
    get:
      operationId: get
      summary: Get a guest
      description: Returns a single guest
      tags:
      - subpackage_guests
      parameters:
      - name: guestId
        in: path
        description: ID of guest to return
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_GuestId'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      - name: X-Disable-Hooks
        in: header
        required: true
        schema:
          type: string
          enum:
          - 'true'
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_guests_GuestResponse'
    delete:
      operationId: delete
      summary: Delete a guest
      description: Deletes a single guest or removes guest access from a specific space
      tags:
      - subpackage_guests
      parameters:
      - name: guestId
        in: path
        description: ID of guest to return
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_GuestId'
      - name: spaceId
        in: query
        description: ID of space to remove guest access from. If not provided, guest will be completely deleted.
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_SpaceId'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      - name: X-Disable-Hooks
        in: header
        required: true
        schema:
          type: string
          enum:
          - 'true'
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_Success'
    patch:
      operationId: update
      summary: Update a guest
      description: Updates a single guest, for example to change name or email
      tags:
      - subpackage_guests
      parameters:
      - name: guestId
        in: path
        description: ID of guest to return
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_GuestId'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      - name: X-Disable-Hooks
        in: header
        required: true
        schema:
          type: string
          enum:
          - 'true'
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_guests_GuestResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_guests_GuestConfigUpdate'
  /guests/{guestId}/token:
    get:
      operationId: get-guest-token
      summary: Get guest token
      description: Returns a single guest token
      tags:
      - subpackage_guests
      parameters:
      - name: guestId
        in: path
        description: ID of guest to return
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_GuestId'
      - name: spaceId
        in: query
        description: ID of space to return
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_SpaceId'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      - name: X-Disable-Hooks
        in: header
        required: true
        schema:
          type: string
          enum:
          - 'true'
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_guests_GuestTokenResponse'
  /guests/{guestId}/roles:
    get:
      operationId: list-guest-roles
      summary: List Guest Roles
      description: Lists roles assigned to a guest.
      tags:
      - subpackage_guests
      parameters:
      - name: guestId
        in: path
        description: The guest id
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_GuestId'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      - name: X-Disable-Hooks
        in: header
        required: true
        schema:
          type: string
          enum:
          - 'true'
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_roles_ListActorRolesResponse'
        '400':
          description: Error response with status 400
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_Errors'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_Errors'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_Errors'
    post:
      operationId: assign-guest-role
      summary: Assign Role to Guest
      description: Assigns a role to a guest.
      tags:
      - subpackage_guests
      parameters:
      - name: guestId
        in: path
        description: The guest id
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_GuestId'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      - name: X-Disable-Hooks
        in: header
        required: true
        schema:
          type: string
          enum:
          - 'true'
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_roles_AssignRoleResponse'
        '400':
          description: Error response with status 400
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_Errors'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_Errors'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_Errors'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_roles_AssignActorRoleRequest'
  /guests/{guestId}/roles/{actorRoleId}:
    delete:
      operationId: delete-guest-role
      summary: Remove Role from Guest
      description: Removes a role from a guest.
      tags:
      - subpackage_guests
      parameters:
      - name: guestId
        in: path
        description: The guest id
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_GuestId'
      - name: actorRoleId
        in: path
        description: The actor role id
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_ActorRoleId'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      - name: X-Disable-Hooks
        in: header
        required: true
        schema:
          type: string
          enum:
          - 'true'
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_Success'
        '400':
          description: Error response with status 400
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_Errors'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_Errors'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_Errors'
  /invitations:
    post:
      operationId: invite
      summary: Invite guests
      description: Guests can be created as a named guest on the Space or there’s a global link that will let anonymous guests into the space.
      tags:
      - subpackage_guests
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      - name: X-Disable-Hooks
        in: header
        required: true
        schema:
          type: string
          enum:
          - 'true'
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons_Success'
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/type_guests_Invite'
components:
  schemas:
    type_guests_GuestResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/type_guests_Guest'
      required:
      - data
      title: GuestResponse
    type_roles_AssignRoleResponseData:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/type_commons_ActorRoleId'
        roleId:
          $ref: '#/components/schemas/type_commons_RoleId'
        actorId:
          $ref: '#/components/schemas/type_commons_ActorIdUnion'
        resourceId:
          $ref: '#/components/schemas/type_roles_ResourceIdUnion'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
      - id
      - roleId
      - actorId
      - resourceId
      - createdAt
      - updatedAt
      title: AssignRoleResponseData
    type_guests_GuestTokenResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/type_guests_GuestToken'
      required:
      - data
      title: GuestTokenResponse
    type_guests_GuestConfigUpdate:
      type: object
      properties:
        environmentId:
          $ref: '#/components/schemas/type_commons_EnvironmentId'
        email:
          type: string
        name:
          type: string
        spaces:
          type: array
          items:
            $ref: '#/components/schemas/type_guests_GuestSpace'
      description: Properties used to update an existing guest
      title: GuestConfigUpdate
    type_roles_ListActorRolesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/type_roles_ActorRoleResponse'
      required:
      - data
      title: ListActorRolesResponse
    type_commons_AgentId:
      type: string
      description: Agent ID
      title: AgentId
    type_guests_Guest:
      type: object
      properties:
        environmentId:
          $ref: '#/components/schemas/type_commons_EnvironmentId'
        email:
          type: string
        name:
          type: string
        spaces:
          type: array
          items:
            $ref: '#/components/schemas/type_guests_GuestSpace'
        id:
          $ref: '#/components/schemas/type_commons_GuestId'
        createdAt:
          type: string
          format: date-time
          description: Date the guest object was created
        updatedAt:
          type: string
          format: date-time
          description: Date the guest object was last updated
      required:
      - environmentId
      - email
      - name
      - spaces
      - id
      - createdAt
      - updatedAt
      title: Guest
    type_commons_WorkbookId:
      type: string
      description: Workbook ID
      title: WorkbookId
    type_guests_GuestToken:
      type: object
      properties:
        token:
          type: string
          description: The token used to authenticate the guest
        valid:
          type: boolean
      required:
      - token
      - valid
      title: GuestToken
    type_roles_ActorRoleResponse:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/type_commons_ActorRoleId'
        roleId:
          $ref: '#/components/schemas/type_commons_RoleId'
        actorId:
          $ref: '#/components/schemas/type_commons_ActorIdUnion'
        resourceId:
          $ref: '#/components/schemas/type_roles_ResourceIdUnion'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
      - id
      - roleId
      - actorId
      - resourceId
      - createdAt
      - updatedAt
      title: ActorRoleResponse
    type_guests_GuestConfig:
      type: object
      properties:
        environmentId:
          $ref: '#/components/schemas/type_commons_EnvironmentId'
        email:
          type: string
        name:
          type: string
        spaces:
          type: array
          items:
            $ref: '#/components/schemas/type_guests_GuestSpace'
      required:
      - environmentId
      - email
      - name
      - spaces
      description: Configurations for the guests
      title: GuestConfig
    type_commons_SheetId:
      type: string
      description: Sheet ID
      title: SheetId
    type_guests_ListGuestsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/type_guests_Guest'
      required:
      - data
      title: ListGuestsResponse
    type_commons_GuestId:
      type: string
      description: Guest ID
      title: GuestId
    type_roles_ResourceIdUnion:
      oneOf:
      - $ref: '#/components/schemas/type_commons_AccountId'
      - $ref: '#/components/schemas/type_commons_EnvironmentId'
      - $ref: '#/components/schemas/type_commons_SpaceId'
      title: ResourceIdUnion
    type_guests_GuestWorkbook:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/type_commons_WorkbookId'
      required:
      - id
      title: GuestWorkbook
    type_guests_Invite:
      type: object
      properties:
        guestId:
          $ref: '#/components/schemas/type_commons_GuestId'
        spaceId:
          $ref: '#/components/schemas/type_commons_SpaceId'
        fromName:
          type: string
          description: The name of the person or company sending the invitation
        message:
          type: string
          description: Message to send with the invite
      required:
      - guestId
      - spaceId
      title: Invite
    type_roles_AssignRoleResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/type_roles_AssignRoleResponseData'
      required:
      - data
      title: AssignRoleResponse
    type_commons_SpaceId:
      type: string
      description: Space ID
      title: SpaceId
    type_guests_CreateGuestResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/type_guests_Guest'
      required:
      - data
      title: CreateGuestResponse
    type_commons_Errors:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/type_commons_Error'
      required:
      - errors
      title: Errors
    type_commons_Error:
      type: object
      properties:
        key:
          type: string
        message:
          type: string
      required:
      - message
      title: Error
    type_guests_GuestSpace:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/type_commons_SpaceId'
        workbooks:
          type: array
          items:
            $ref: '#/components/schemas/type_guests_GuestWorkbook'
        sheets:
          type: array
          items:
            $ref: '#/components/schemas/type_guests_GuestSheet'
        lastAccessed:
          type: string
          format: date-time
      required:
      - id
      title: GuestSpace
    type_commons_Success:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/type_commons_SuccessData'
      description: Informs whether or not a request was successful
      title: Success
    type_guests_GuestSheet:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/type_commons_SheetId'
      required:
      - id
      title: GuestSheet
    type_commons_SuccessData:
      type: object
      properties:
        success:
          type: boolean
      required:
      - success
      title: SuccessData
    type_roles_AssignActorRoleRequest:
      type: object
      properties:
        roleId:
          $ref: '#/components/schemas/type_commons_RoleId'
        resourceId:
          $ref: '#/components/schemas/type_roles_ResourceIdUnion'
      required:
      - roleId
      - resourceId
      title: AssignActorRoleRequest
    type_commons_UserId:
      type: string
      description: User ID
      title: UserId
    type_commons_AccountId:
      type: string
      description: Account ID
      title: AccountId
    type_commons_RoleId:
      type: string
      description: Role ID
      title: RoleId
    type_commons_EnvironmentId:
      type: string
      description: Environment ID
      title: EnvironmentId
    type_commons_ActorIdUnion:
      oneOf:
      - $ref: '#/components/schemas/type_commons_UserId'
      - $ref: '#/components/schemas/type_commons_AgentId'
      - $ref: '#/components/schemas/type_commons_GuestId'
      title: ActorIdUnion
    type_commons_ActorRoleId:
      type: string
      description: Actor Role ID
      title: ActorRoleId
  securitySchemes:
    default:
      type: http
      scheme: bearer
